body {
    margin: 60px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    border-radius: 15px;
}

.card {
    width: 485px;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #C8C6AF;
    color: #363537;
    border-bottom: 8px solid #95A78D;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.descriptions {
    margin-top: 10px;
}

.card:hover {
    background-color: #D7D9B1;
    cursor: pointer;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

/* .border-blue {
    border: 1px dotted blue;
} */

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
